.profile__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    margin: 0;
    max-width: 336px;
    grid-area: profile-info__subtitle;
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 121%;
        max-width: 282px;
    }
}