.gallery__like-button {
    cursor: pointer;
    background-image: url('../../../images/like-image.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    border: 0;
    background-color: transparent;
    padding: 0;
}

.gallery__like-button:hover {
    opacity: .5;
    transition: .5s;
}