.footer {
    margin: 67px auto 60px;
    max-width: 880px;
    width: 100%;
    flex-shrink: 0;
}

@media screen and (max-width: 1023px) {
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
    }
}